body {
    background: #333;
}

.home-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
    margin-right: auto;
    width: 70%;
    max-width: 1500px;
}
.home-row
{
    display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.home-sidebar {
    width: 30%;
    height:916px;
    float: right;
    color: #fff;
    background-color: #16a085;
    border-radius: 25px;
}